# Database configuration
DB_DIALECT=mariadb
DB_HOST=localhost
DB_NAME=cutngo
DB_USER=user
DB_PASS=password

# Server configuration
NODE_ENV=development
LISTENING_PORT=3000
LISTENING_HOST=0.0.0.0
JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d